@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --red: hsl(0, 97%, 63%);
  --dark-blue: hsl(223, 30%, 9%);
  --greyish-blue: hsl(223, 23%, 46%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: underline!important;
  color: var(--white)!important;
}


@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
